################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.bak
/bin/Debug/minersearch_quarantine/previousMalwarePaths_M2I3NjJm.txt
/bin/Confused/Release
*.txt
*.log
/bin/Debug
/obj
/bin/Release
/FileLockInfo.cs
/obfuscar.xml
/Obfuscar.Console.exe
/MinerSearch_string_confuse.crproj
